services:
  db:
    image: postgres:15
    container_name: peixe-babel-db
    environment:
      POSTGRES_DB: peixe_babel_db
      POSTGRES_USER: peixe_babel_user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: .
    container_name: peixe-babel-backend
    
    # === ATUALIZE O COMANDO PARA ESTA VERSÃO ===
    # sh -c "..." nos permite rodar múltiplos comandos.
    # O '&&' significa: "se o primeiro comando (chmod) der certo, execute o próximo".
    command: sh -c "chmod +x /app/scripts/wait-for-postgres.sh && /app/scripts/wait-for-postgres.sh db && python manage.py runserver 0.0.0.0:8000"
    
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db

volumes:
  postgres_data: