services:
  db:
    image: postgres:15
    container_name: peixe-babel-db
    environment:
      POSTGRES_DB: peixe_babel_db
      POSTGRES_USER: peixe_babel_user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: .
    container_name: peixe-babel-backend
    
    env_file:
      - .env 
      
    command: sh -c "chmod +x /app/scripts/wait-for-postgres.sh && /app/scripts/wait-for-postgres.sh db && python manage.py runserver 0.0.0.0:8000"
    
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    
    depends_on:
      - db

  libretranslate:
    container_name: libretranslate
    image: libretranslate/libretranslate:latest
    ports:
      - "5000:5000"
    healthcheck:
      test: ['CMD-SHELL', './venv/bin/python scripts/healthcheck.py']
      interval: 10s
      timeout: 4s
      retries: 4
      start_period: 5s

volumes:
  postgres_data: